*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
}

.login_form {
  text-align: center;
  background: #fff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Full width to ensure flexibility */
  max-width: 350px; /* Maximum width for large screens */
  margin: auto; /* Center the form */
}

.login_form h3 {
    margin-bottom: 20px;
    color: #D0742C;
    font-size: 24px;
  }

  .input_box {
    margin-bottom: 20px;
  }
  
  .input_box label {
    display: flex;
    margin-left: 4px;
    color: #333;
    font-size: 14px;
  }
  
  .input_box input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
 
  
  button {
    width: 100%;
    padding: 12px 0;
    background: #D0742C;
    color: #fff;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px;
  
  }
  
  button:hover {
    background: black;
  }

 
  .sign_up a{
    color: #D0742C;
    text-decoration: underline;
  }

  

  @media screen and (max-width: 768px) {
    .login_form {
      max-width: 100%;
      padding: 15px;
    }
  
    .input_box input, button {
      font-size: 14px;
      padding: 10px;
    }
  }
  

  @media screen and (max-width: 480px) {
    .login_form {
      padding: 10px;
    }
  
    .input_box input, button {
      font-size: 12px;
      padding: 8px;
    }
  
    h3 {
      font-size: 18px;
    }
  }